<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="/css/user_profile.css">
</head>
<body>
    <% if(locals.user) { %>
        <a href="/users/signout">SignOut</a>
        <%= user.name %>
    <% } else { %>
            <a href="/signin">signin</a>
            <a href="/signup">signout</a>
    <% } %>
    
    <p><%= user.name %></p>
    <p><%= user.email %></p>
</body>
</html>