<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h1>This is sign Up page let work on it</h1>
    <!-- <form action="/users/create" method="post">
      <input type="text" name="name" id="name" placeholder="enter your name" />
      <input
        type="text"
        name="email"
        id="email"
        required
        placeholder="enter your email id"
      />
      <input
        type="password"
        name="password"
        id="password"
        required
        placeholder="enter your password"
      />
      <input
        type="confirm-password"
        name="confirm-password"
        id="confirm-password"
        required
        placeholder="confirm-password"
      />
      <button type="submit">signup</button>
    </form> -->

    <form action="/users/create" method="POST">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <input type="submit" value="Sign Up">
    
    </form>
</body>
</html>
